body{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}


*{
    margin: 0px;
    padding: 0px;
}

h1{
    font-family: "Montserrat";
    font-weight: bolder;
}

button{
    font-family: "McLaren";
}


.dfont{
    font-family: McLaren;
}

i{
    color: white;
}

.navbar{
    background-color: transparent ;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    position: relative;
    height: auto !important;
    position: fixed;
    z-index: 10000;
    background-color: #b46bd4;
}

.navbar .nav-link{
    color: #fff;
    font-family: "McLaren";

}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
    color: #b46bd4;
}

.navbar-nav .dropdown-menu {
    background-color: #513252;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

/* .navbar-brand{
    font-size: 4em;
} */


.offcanvas-body {
    background-color: #000000;
}

.offcanvas-header {
    background-color: #513252;
    color: #FFF;
    font-family: "McLaren";
}


.display{
    height: 100vh;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
    color: #fff;
}

.display .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.dh1{
    text-align: center;
    margin-right: 100px;
    font-size: 2em;
    opacity: 1;
}

.display p{
    text-align: center;
    width: 50%;
    height: 60px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: "McLaren";
    opacity: 1;
}
/* home section */

.home{
    height: auto;
    width: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.home .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 10px;
    flex-wrap: wrap;
}
.home .card1{
    height: auto;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(244,244,244,0.7147233893557423) 0%, rgba(83,52,131,1) 100%);    font-family: "McLaren";
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    /* padding: 5% 10%; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.home .card1 p{
    padding-left: 10px;
}

.home h1{
    color: #fff;
}

.feature{
    height: 100vh;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.rowCol{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: green; */
    row-gap: 10px;
}

.featureCol{
    height: 50vh;
    /* background-color: green; */
}

.featureCol:nth-child(2){
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin-top: 100px;
}

.divh1{
    padding: 10px 10px;
    background-color: #513252;
    border-radius: 10px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin-top: 50px;
}

.divh1 h1{
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bolder;
}


.rowCol ul{
    margin-top: 100px;
    height: 50vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
}

.rowCol ul li{
    font-size: 1.2em;
    font-family: "McLaren";
    margin-bottom: 10px;
}

.com{
    height: 100vh;
    width: 100%;
    /* background-color: yellow; */
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.com .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featureCom{
    height: 100%;
    /* background-color: green; */
}
.comDiv2{
    background-color: transparent;
}

.comDiv{
    padding: 10px 0px;
    border-radius: 10px;
    background-color: #b46bd4;
    color: #FFF;
}

.comDiv h1{
    font-size: 2em;
    padding-left: 10px;
}

.featureCom p{
    font-size: 1.2em;
    font-family: "McLaren";
    margin-top: 20px;
    color: white;
    padding-bottom: 20px;
}


@media screen and (max-width:880px) {
    .display p{
        width: auto;
    }

    .home h1 {
        text-align: center;
    }

    .home .row{
        justify-content: center;
    }
    .feature{
        height: auto;
    }
    .home .card1{
        height: auto;
        width: 90%;
        padding: 5% 0%;
    }

    .featureCol{
        flex-direction: column;
        height: auto;
    }
    .featureCol:nth-child(2){
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .featureCol img{
        height: 400px;
        /* background-color: red; */
        padding-bottom: 20px;
    }
    .com{
        height: auto;
        background-color: transparent;
        margin-top: 20px;
        overflow: hidden;
    }
    .featureCom p{
        font-size: 18px;
    }
    .featureCom2{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}
    #spec{
        order: 10;
        margin-top: 100px;
    }
    .comp{
        display: none;
    }
    
}